* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.tituloPrincipal {
  padding: 1rem;
  font-size: 1.75rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 320;
  margin: 0rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.btnPrincipal {
  padding: 6px 8px;
  border: 0;
  border-radius: 3px;
  color: #000;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  border-style: none;
  max-height: 40px; }

.textoParrafo {
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 450;
  justify-content: center;
  display: flex;
  align-items: center; }

.textoFiltros {
  font-size: 1rem;
  color: #000;
  padding: 0.1rem; }

.btn-colorPrimario {
  color: #141D3C; }

.btn-colorSecundario {
  color: #02AFFE; }

.btn-colorBlanco {
  color: #ffffff; }

.btn-colorNaranjaGD {
  color: #f8af40; }

.btn-colorNegro {
  color: #000; }

.btn-colorRosaGD {
  color: #ddb6f1; }

.btn-colorMorado {
  color: #9c1ede; }

.btn-ColorGris {
  color: #314652; }

.main {
  grid-area: main;
  background-color: #141D3C;
  color: #ffffff;
  justify-content: center;
  margin-top: 0.3rem; }
  .main .main__index .filtros {
    background-color: #f8af40;
    align-items: center;
    justify-content: space-evenly;
    max-height: 300px;
    width: 100%;
    color: #000;
    display: flex;
    text-align: center;
    font-size: 0.75rem; }
    .main .main__index .filtros h5 {
      font-size: 1rem; }
    .main .main__index .filtros .filtro_1 {
      padding: 0.2rem; }
    .main .main__index .filtros .filtro_2 {
      padding: 0.2rem; }
  .main .main__index .aside_container {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    margin-bottom: 0.3rem; }

header {
  grid-area: header;
  background-color: #02AFFE;
  justify-content: space-between;
  align-items: center;
  padding: 0; }
  header .navbar .container-fluid {
    background-color: #02AFFE;
    justify-content: space-between; }
    header .navbar .container-fluid .logo {
      width: 110px;
      padding: 0px; }

.aside {
  width: 13.5rem;
  padding: 1.5rem;
  background-color: #02AFFE;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .aside h3 {
    padding: 1.5rem;
    text-align: center;
    color: #ffffff; }
  .aside p {
    text-align: justify; }
  .aside a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    bottom: 0.5rem;
    padding: 0rem; }

.container {
  width: 100%;
  max-width: 65rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "header header header" "main   main   main" "footer footer footer";
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem;
  overflow: hidden; }
  .container .targeta {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.25s;
    padding: 0.5rem;
    max-width: 320px; }
    .container .targeta img {
      width: 15rem;
      height: auto;
      width: 100%;
      max-width: 250px; }
    .container .targeta h4 {
      font-weight: 450;
      color: #f8af40;
      font-size: 1.25rem; }
    .container .targeta p {
      font-weight: 300;
      color: colorNegro;
      font-size: 1.12rem; }
    .container .targeta a {
      font-weight: 500;
      text-decoration: none;
      color: white;
      bottom: 0.5rem;
      padding: 0rem; }
  .container .targeta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.footer {
  grid-area: footer;
  background-color: #ffffff;
  /* font-style: italic; */
  border-top: solid 2px #000;
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  font-size: 20px;
  justify-content: center; }
  .footer ol {
    list-style: none;
    display: flex; }
    .footer ol li a {
      color: #000;
      text-decoration: none;
      padding: 1rem;
      border-right: 1px solid #000; }

.main__registro .formularios {
  display: flex;
  justify-content: center; }
  .main__registro .formularios .form {
    background-color: #ddb6f1;
    margin: 2rem;
    justify-content: center;
    min-width: 200px;
    max-width: 500px;
    border-radius: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .main__registro .formularios .form p {
      color: #000; }
    .main__registro .formularios .form input {
      padding: 0.5rem;
      font-size: 1.13rem;
      text-align: center;
      width: 100%;
      font-weight: 500; }
    .main__registro .formularios .form :focus {
      outline: none;
      border: 2px solid #f8af40;
      border-radius: 2px; }
    .main__registro .formularios .form .form_1 {
      color: #000;
      font-size: 1.13rem;
      font-weight: 500; }
      .main__registro .formularios .form .form_1 p {
        width: 100%;
        color: #000; }
    .main__registro .formularios .form .form_2 {
      color: #000;
      font-size: 1.13rem;
      font-weight: 500; }
      .main__registro .formularios .form .form_2 p {
        width: 100%;
        color: #000; }

.main .mainContacto {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.3rem;
  text-align: justify;
  align-items: center; }
  .main .mainContacto .textoContacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 37.5rem; }
  .main .mainContacto .carruselesContacto {
    justify-content: center;
    width: 100%;
    max-width: 27.5em;
    padding: 1rem 0rem 1rem 0rem;
    margin: 1rem;
    padding: 1rem; }
  .main .mainContacto .ubicacionContainer {
    margin-bottom: 1rem;
    width: 70%;
    max-width: 30.5em; }
    .main .mainContacto .ubicacionContainer .ubicacion {
      width: 100%; }
      .main .mainContacto .ubicacionContainer .ubicacion .ubicacionTexto {
        text-align: left;
        color: #ffffff; }
        .main .mainContacto .ubicacionContainer .ubicacion .ubicacionTexto p {
          font-size: 1.5rem;
          color: #ffffff; }
        .main .mainContacto .ubicacionContainer .ubicacion .ubicacionTexto h2 {
          font-weight: 500;
          color: #ffffff; }

.main .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  align-items: center;
  padding: 2rem 0rem 0rem 0rem;
  margin: 0.3rem 0 0 0; }

.main .containerPerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main .containerPerfil .mainPefil {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 30em;
    border-radius: 30px;
    margin: 2rem;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.6); }
    .main .containerPerfil .mainPefil div img {
      width: 100%;
      border-radius: 30px 30px 0px 0px; }
    .main .containerPerfil .mainPefil section {
      background-color: #9c1ede;
      padding: 10px;
      overflow: hidden;
      text-align: center; }
      .main .containerPerfil .mainPefil section h2 {
        margin: 0.5em 0;
        color: #ffffff; }
      .main .containerPerfil .mainPefil section h3 {
        color: #ffffff; }
      .main .containerPerfil .mainPefil section ul {
        padding: 0; }
        .main .containerPerfil .mainPefil section ul li {
          list-style: none;
          display: inline-block;
          margin: 0.5em 0.2em; }
          .main .containerPerfil .mainPefil section ul li a {
            text-decoration: none;
            background-color: #314652;
            color: white;
            width: 30px;
            height: 30px;
            line-height: 30px !important;
            border-radius: 5px;
            transition: all 0.17s ease-in-out; }
          .main .containerPerfil .mainPefil section ul li a:hover {
            transform: scale(1.3); }
    .main .containerPerfil .mainPefil .mainPefil:hover {
      transform: scale(1.03); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.mainProducto {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .mainProducto .filtrosProductos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8af40;
    margin-bottom: 0.3rem;
    max-height: 300px; }
  .mainProducto .targetaPrecio {
    width: 100%;
    grid-area: targetaPrecio;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainProducto .targetaPrecio .targetaPrecio__container {
      max-width: 400px;
      background-color: #f8af40; }
      .mainProducto .targetaPrecio .targetaPrecio__container h3 {
        font-size: 1rem; }
      .mainProducto .targetaPrecio .targetaPrecio__container img {
        width: 100%;
        border-radius: none; }
  .mainProducto .asideProducto {
    width: 100%;
    max-height: 300px;
    padding: 1.5rem;
    background-color: #02AFFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #000 1px; }
    .mainProducto .asideProducto h3 {
      padding: 1.5rem;
      text-align: center;
      color: #ffffff; }
    .mainProducto .asideProducto p {
      text-align: justify; }
    .mainProducto .asideProducto a {
      font-weight: 500;
      text-decoration: none;
      color: white;
      bottom: 0.5rem;
      padding: 0rem; }
  .mainProducto .targetasProductos {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4fr 1fr);
    grid-template-areas: "targetasProducto      targetasProductos     targetasProductos  targetasProductos";
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.6rem;
    overflow: hidden;
    border: solid #000 1px;
    margin: 1rem;
    padding: 1rem; }
  .mainProducto .targetaProducto {
    max-width: 300px;
    background-color: aquamarine;
    border: #000 solid 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    color: #000;
    max-width: 54rem; }
    .mainProducto .targetaProducto h4 {
      font-size: 1rem; }
    .mainProducto .targetaProducto img {
      width: 100%; }

@media (max-width: 768px) {
  .container {
    display: flex;
    grid-template-columns: 1fr;
    max-height: none; } }

@media (max-width: 700px) {
  .container {
    display: flex;
    grid-template-columns: 1fr;
    max-height: none; } }

.aside_container {
  padding: 1rem;
  justify-content: space-evenly;
  margin-bottom: 0.3rem; }

@media (max-width: 576px) {
  .aside_container {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem; }
  /* .main_contacto{
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    } */
  .aside {
    width: 100%; }
  .header {
    flex-direction: flex;
    padding: 1rem; }
  .header nav ul {
    flex-direction: column; }
  .header nav ul li a {
    border-right: none;
    padding: 1rem; }
  .header nav {
    padding-right: 0px; } }
