.footer {
    grid-area: footer;
    background-color: $colorBlanco;
    /* font-style: italic; */
    border-top: solid 1px #000;
    margin-top: 0.3rem;
    display: flex;
    padding: 1rem 1rem 0 1rem;
    gap: 1.5rem;
    font-size: 20px;
    justify-content: space-around;
    ol {
        list-style: none;
        display: flex;
        margin-bottom: 0 !important;
        li{
            h5{
            margin: 0 !important;
            }
            a {
                color: $colorNegro;
                text-decoration: none;
                padding: 1rem;
            }
        }
    }
    h6{
        text-align: center;
    }
}