.main{
    .titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
        color: $colorBlanco;
        align-items: center;
        padding: 2rem 0rem 0rem 0rem;
        margin: 0.3rem 0 0 0;
    }
    .containerPerfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0.3rem;
        .mainPefil{
            display: flex;
            flex-direction: column;
            width: auto;
            max-width: 30em;
            border-radius: 30px;
            margin:2rem;
            box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.6);
            div{
                img{
                    width: 100%;
                    border-radius: 30px 30px 0px 0px;
                }
            }
            section{
                background-color: $colorMorado;
                padding: 10px;
                overflow: hidden;
                text-align: center;
                h2{
                    margin: 0.5em 0;
                    color: $colorBlanco;
                }
                h3{
                    color: $colorBlanco;
                }
                p{
                    margin: 1em 0;
                    color: $colorBlanco;
                }
                ul{
                    padding: 0;
                    li{
                        list-style: none;
                        display: inline-block;
                        margin: 0.5em 0.2em;
                        a {
                            text-decoration: none;
                            background-color: #314652;
                            color: white;
                            width: 30px;
                            height: 30px;
                            line-height: 30px !important;
                            border-radius: 5px;
                            transition: all 0.17s ease-in-out;
                        }
                        a:hover{
                            transform: scale(1.3);
                        }
                    }
                }
            }
            .mainPefil:hover{
                transform: scale(1.03);
            }
        }
    }
}
