.main__registro{
    h1{
        color: $colorBlanco;
        justify-content: center;
        align-content: center;
        font-size: 2.5vh;
        display: flex;
        padding-top: 1.5rem;
        margin-top: 0.3rem;
        font-family: 'Courier New', Courier, monospace;
    }
    .formularios{
        display: flex;
        justify-content: center;
        .form {
            background-color: $colorRosaGD;
            margin: 2rem;
            justify-content: center;
            min-width: 200px;
            max-width: 500px;
            border-radius: 1.5rem;
            padding:1.5rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            p{
                color: $colorNegro;
            }
            input{
                padding: 0.5rem;
                font-size: 1.13rem;
                text-align: center;
                width: 100%;
            }
            :focus{
                outline: none;
                border: 2px solid $colorNaranjaGD;
                border-radius: 2px;
            }
            .form_1{
                color: $colorNegro;
                font-size: 1.13rem;
                p{
                    width: 100%;
                    color: $colorNegro;
                    font-size: larger;
                }
            }
            .form_2{
                color: $colorNegro;
                font-size: 1.13rem;
                p{
                    width: 100%;
                    color: $colorNegro;
                    font-size: larger;
                }
                .registrarse {
                    margin: 1rem;
                    padding: 0.5rem;
                    button{
                        font-size: 1.2rem;
                        padding: 0.5rem;
                        background-color: $colorBlanco;
                        border-radius: 0.3rem;
                        border-style: none;
                        font-weight: 500;
                        border: 0;
                    }
                }
            }
        }
    }
}


