.main {
    grid-area: main;
    background-color: $colorPrimario;
    color: $colorBlanco;
    justify-content: center;
    margin-top: 0.3rem;
    .main__index{
        .filtros{
            background-color: $colorNaranjaGD;
            align-items: center;
            justify-content: space-evenly;
            max-height: 300px;
            width: 100%;
            color: #000;
            display: flex;
            text-align: center;
            font-size: 0.75rem;
            h5{
                font-size: 1rem;
            }
            .filtro_1{
                padding: 0.2rem;
            }
            .filtro_2 {
                padding: 0.2rem;
            }
        }
        .section_container {
            display: flex;
            padding: 1rem;
            justify-content: space-evenly;
            margin-bottom: 0.3rem;
        }
    }
}