* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainProducto {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .filtrosProductos {
        grid-area: filtrosProductos;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $colorNaranjaGD;
        margin-bottom: 0.3rem;
        max-height: 300px;
        padding: 0.5rem;
    }

    .sectionProducto {
        // grid-area: asideProducto;
        width: 100%;
        padding: 1.5rem;
        background-color: $colorSecundario;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid #000 1px;

        p {
            text-align: justify;
            padding: 0;
            margin: 0;
        }

        a {
            @include propiedadesA(500, none, white, 0.5rem, 0rem);
        }
    }

    .targetaPrecioContainer {
        color: $colorNegro;
        margin-top: 0.3rem;
        background-color: #E0E0E0;
        .targetaPrecio {  
            display: flex;
            align-items: center;
            padding: 0 1rem;
            font-weight: 300;
            .textoPrecio {
                display: flex;
                flex-direction: column;
                width: auto;
                text-align: justify;
                align-items: center;
                h1{
                    font-family:'Courier New', Courier, monospace;
                    color: $colorNegro !important;
                    padding: 1rem 1rem 0 0;
                    margin: 0;
                    font-weight: 500;
                    font-size: 40px;
                }
                h2{
                    background-color: $colorNaranjaGD;
                    border-radius: 10px;
                    padding: 0.2rem 0.5rem;
                }
                p{
                    padding: 1rem 0rem;
                    margin: 0;
                    color: $colorNegro;
                    font-size: 20px;
                }
            }
        }

        .carruselPrecio {
            max-width: 380px;
            width: 100%;
        }
    }


    .targetasProductosGrid{
        justify-items: center;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: repeat(3fr 1r);
        // grid-template-areas:"targetaProducto targetaProducto targetaProducto"
        //                     "targetaProducto targetaProducto targetaProducto"
        //                     "targetaProducto targetaProducto targetaProducto";
        .card-body{
            color: $colorNegro;
            p,h5{
            text-align: start;
            }
        }
    }
}