$colorPrimario :   #141D3C;
$colorSecundario : #02AFFE;
$colorBlanco :     #ffffff;
$colorNaranjaGD:   #f8af40;
$colorNegro:       #000;
$colorRosaGD:      #ddb6f1;
$colorMorado:      #9c1ede;
$ColorGris:        #314652;


