* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colores:(
    colorPrimario:    #141D3C,
    colorSecundario:  #02AFFE,
    colorBlanco:      #ffffff,
    colorNaranjaGD:   #f8af40,
    colorNegro:       #000,
    colorRosaGD:      #ddb6f1,
    colorMorado:      #9c1ede,
    ColorGris:        #314652,
);


$titulosPrincipales:(
    padding:  1rem,
    f-Size:   1.75rem,
    color:  #fff,
    j-Content: center,
    a-Content: center,
    f-Weight: 320,
    display: flex,
    padding-top: 1.5rem,
    margin: 0rem,
);

.tituloPrincipal{
    padding:           map-get($titulosPrincipales , padding);
    font-size:         map-get($titulosPrincipales , f-Size );
    color:             map-get($titulosPrincipales , color );
    display:           map-get($titulosPrincipales , display );
    justify-content:   map-get($titulosPrincipales , j-Content );
    align-content:     map-get($titulosPrincipales , a-Content );
    font-weight:       map-get($titulosPrincipales , f-Weight);
    margin:            map-get($titulosPrincipales , margin );
    font-family: 'Courier New', Courier, monospace;
}


$botonPrincipal:(
    padding: 5px 10px,
    bordes: 0,
    border:2px,
    color: #000,
    margin: 0.3rem,
    b-Color: #fff,
    m-Heigth: 30px,
    a-Items: center,
    f-Size: 1rem,
    f-Weight:450,
);

.btnPrincipal{
    padding:          map-get($botonPrincipal , padding );
    border:           map-get($botonPrincipal , bordes );
    border-radius:    map-get($botonPrincipal , border );
    color:            map-get($botonPrincipal , color );
    margin:           map-get($botonPrincipal , margin );
    background-color: map-get($botonPrincipal , b-Color );
    max-height:       map-get($botonPrincipal , m-Heigth );
    align-items:      map-get($botonPrincipal , center );
    font-size:        map-get($botonPrincipal , f-Size );
    font-weight:      map-get($botonPrincipal , f-Weight );
}


// $textoParrafo:(
//     padding: 5px 10px,
//     border:2px,
//     m-Heigth: 30px,
//     a-Items: center,
//     f-Size: 1rem,
//     f-Weight:450,
//     a-Content: center,
//     j-Content: center,
//     display: flex,
// );

// .textoParrafo{
//     padding:          map-get($textoParrafo , padding );
//     border-radius:    map-get($textoParrafo , border );
//     margin:           map-get($textoParrafo , margin );
//     background-color: map-get($textoParrafo , b-Color );
//     align-items:      map-get($textoParrafo , center );
//     font-size:        map-get($textoParrafo , f-Size );
//     font-weight:      map-get($textoParrafo , f-Weight );
//     justify-content:  map-get($textoParrafo , j-Content );
//     display:          map-get($textoParrafo , display );
//     align-items:      map-get($textoParrafo , a-Content );
// }


// $textoFiltros:(
//     f-Size: 1rem,
//     color: #000,
//     margin: 0.5rem,

// );

// .textoFiltros{
//     font-size:  map-get($textoFiltros , f-Size );
//     color:      map-get($textoFiltros , color );
//     margin:     map-get($textoFiltros , margin );
// }




@each $clave , $var in $colores {
    .btn-#{$clave} {
        color: $var
    }
}




@import "variables";

@import "main_Index";

@import "header";

@import "aside";

@import "container";

@import "footer";

@import "mainRegistro";

@import "mainContacto";

@import "mainPerfil";

@import "mainProducto";




@media(max-width:700px) {
    .container {
        display: flex;
        grid-template-columns: 1fr;
    }
}


@media(max-width:576px) {

    .aside_container {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    /* .main_contacto{
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    } */

    .aside {
        width: 100%;
    }

    .header {
        flex-direction: flex;
        padding: 1rem;
    }

    .header nav ul {
        flex-direction: column;
    }

    .header nav ul li a {
        border-right: none;
        padding: 1rem;
    }

    .header nav {
        padding-right: 0px;
    }
}

